# Python requirements for unit tests
# Include main application requirements
-r ../requirements.txt

unittest2
# Use py.test as test-runner
pytest
pytest-cov
# Let coverage use the most recent version
coverage
# Report coverage results to coveralls.io
coveralls
# Static code analysis libraries
pylint
pycodestyle
pep257
# uWSGI server
uwsgi
# alignak_backend (most recent develop)
-e git+git://github.com/Alignak-monitoring-contrib/alignak-backend.git@develop#egg=alignak_backend
