# this is the requirements dedicated to tests.
-r ../requirements.txt
unittest2
coveralls
nose-cov
coverage
nose
pylint
pep8
pep257
alignak_backend
Eve>=0.5
docopt
jsonschema
Eve-docs
flask-bootstrap
configparser ; python_version < '3.0'
future
uwsgi
